.feature-box{
    background-color: rgba($style-color-white, .9);
    border-radius: .3rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba($style-color-black, .15);
    transition: transform .3s,
                background-color .2s;

    @include respond(tab-port){
        padding: 1rem;
    }
    
    &__icon{
      height: 8rem;
      margin-bottom: .6rem;
      

      @include respond(tab-port){
        margin-bottom: 0;
    }
  }

  &__text {      
      font-size: 1.65rem;
  }

    &:hover{
      transform: translateY(-1.5rem) scale(1.03);
      background-color: rgba($style-color-black, .78);
      color:$style-color-white !important;
    }    
}